@import "../../../../utils/variables.scss";

.form {
  display       : flex;
  flex-direction: column;
  gap           : 1rem;
}

.field {
  display       : flex;
  gap           : 0.25rem;
  flex-direction: column;
}

.checkboxField {
  display        : flex;
  justify-content: space-between;
}

.checkbox {
  display: none;
}

.addButton {
  padding   : 0.5rem 2rem;
  max-width : 0 auto;
  color     : #fff;
  background: $greenAccent;
  border    : 2px solid $greenBorder;

  &:hover {
    background: $greenBorder;
  }
}